body {
	padding: 50px;
	margin: auto;
}
.centertext {
	text-align: center;
}
#content h1 {
	margin-top: 0px;
}
#content {
	margin: auto;
	width: 400px;
	border: 1px solid black;
	padding: 10px;
}
#content form {
	width: 350px;
	margin: auto;
}
form p {
	margin: 0;
	display: inline-block
}
form div input, select {
 	width: 150px;
}
form div {
	display: flex;
	justify-content: space-between;
}
.flash {
	color: red;
	font-weight: bold; 
}
.logged_in {
	float: right;
	color: red;
}

/*PROCESS*/

h2 {
	text-decoration: underline;
}	
ul {
	list-style-type: none;
}
