{% extends "Employee/registration_base.html" %}
{% load staticfiles %}

    {% block body-section %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Ecom Express</a>
            </div>
            
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
      
    <center>        
    <br><br>
    <h1>Thank You!</h1>
    <h2>You have successfully completed the form.</h2>
    <a href="/users/signout/" class="btn btn-xs btn-success">Click here to Sign Out</a>
    </center>
    </div>
    <!-- /.container -->

    {% endblock %}