{% extends "signin.html" %}
{% load staticfiles %}


      {% block signin-body %}
                
                    <h2 class="font-bold">Forgot password</h2>                
                    {% if estatus == 101 %}
                    <p class="login-box-msg text-danger">Email is not verified till now. Please verify your email first.</p>
                    {% elif estatus == 102 %}
                    <p class="login-box-msg text-danger">Email is not registerd yet. Please check your email address.</p>
                    {% elif estatus == 103 %}
                    <p class="login-box-msg text-success">Link has been sent to your registered email. Please check your email.</p>
                    {% else %}
                    <p class="login-box-msg">Enter your email address and your password will be reset and emailed to you. </p>
                    {% endif %}

                    <form class="m-t" role="form" action="" method="POST">
                        
                        <div class="form-group has-feedback">
                          <input type="email" class="form-control" name="email" placeholder="Email" value="{{request.POST.email}}" required="" />
                          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>

                        {% csrf_token %} 
                        <button type="submit" class="btn btn-primary block full-width m-b">Send reset link</button>

                    </form>
                
    {% endblock %}