    <md-content ng-controller="registraioncontroller" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Register User</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form">
            <md-input-container class="md-block">
              <label>First Name</label>
              <input type="text" name="fname" ng-model="firstname" required=""/>
              <div ng-messages="Form.fname.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your First name.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Last Name</label>
              <input type="text" name="lname" ng-model="lastname" required=""/>
              <div ng-messages="Form.lname.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your Last name.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Email ID</label>
              <input type="email" name="emal" ng-model="mail" required=""/>
              <div ng-messages="Form.emal.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">Please enter your Email ID.
              </div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Phone Number</label>
              <input type="text" name="phone" ng-model="phone" required="" />
              <div ng-messages="Form.phone.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter a valid phone number.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input type="password" name="password" ng-model="psswd" placeholder="password" required="" md-maxlength="16"/>
              <div ng-messages="Form.password.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your password.</div>
                <div ng-message="md-maxlength" class="my-message">Too long.</div>
              </div>
            </md-input-container>
            <md-button ng-disabled="!Form.$valid" ng-click='registration()' class="md-raised md-primary">&nbsp Submit &nbsp</md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>


